.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 0.5rem 3rem;
    color: white;
    border-bottom: 1px solid white;
    box-shadow: 1px 1px 1px white;
    margin : 0rem;

}

.navbar-logo {
    display: flex;
    align-items: center;
    /* margin-right : 1rem; */
}

.title-span{
    color:purple;
}

.navbar-logo img {
    width: 110px;
    height: 80px;
    
}

.navbar-links a {
    color: white;
    margin-left: 1rem;
    text-decoration: none;
}

.navbar-links a:hover {
    text-decoration: underline;
    transition: .4s;
}

.side-icons{
    margin-right : 1rem;
    margin-top: 1rem;
    padding-top: 1.1rem;
}

.logOutbtn{
    padding: 0.5rem 1rem;
    color : white;
    border-radius: 6px;
    background-color:purple;
    cursor: pointer;
}

.logOutbtn:hover{
    background-color: rgb(179, 0, 179);

}
